.table-container {
    display: flex;
    justify-content: center;  // Agar sejajar di tengah
    gap: 5px;  // Beri jarak antara tabel
    flex-wrap: wrap; // Supaya responsif di layar kecil
  }
  .kehadiran-container, 
  .ukt-container {
    flex: 1; // Membuat kedua tabel memiliki ukuran yang sama
    max-width: 400px; // Sesuaikan dengan ukuran yang diinginkan
    align-self: flex-start; 
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; /* Agar sejajar secara vertikal */
    gap: 20px; /* Atur jarak antara TopProfil dan MaincardIpk */
  }
  

  .info-container {
   max-width: 70px;
   min-width: 50px; 
  }