.table-container {
    display: flex;
    justify-content: center;  // Agar sejajar di tengah
    gap: 5px;  // Beri jarak antara tabel
    flex-wrap: wrap; // Supaya responsif di layar kecil
  }
  .kehadiran-container {
    flex: 2; /* Memberikan lebih banyak ruang */
    max-width: 700px; /* Lebarkan */
    min-width: 500px; /* Agar tetap proporsional */
    align-self: flex-start;
}

.ukt-container {
    flex: 1; /* Kurangi lebar */
    max-width: 350px;
    min-width: 280px;
    align-self: flex-start;
}
  .top-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; /* Agar sejajar secara vertikal */
    gap: 20px; /* Atur jarak antara TopProfil dan MaincardIpk */
  }
  