.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background-color: var(--secondary-color);
  padding: 20px 14px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;

  &.sidebar-show {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
    transform: translateX(-100%);
  }

  .sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--border-color-inverted);
  }

  .sidebar-brand {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .sidebar-close-btn {
    background-color: var(--toggle-btn-bg-color);
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--toggle-btn-icon-color);
    border-radius: 2px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  .menu-item {
    margin-bottom: 8px;
  }

  .menu-link {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    color: var(--side-text-color);
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--side-link-hover-color);
    }

    &.active {
      background-color: var(--pink-color);
      color: var(--light-color);
    }
  }
}

// Tombol Toggle Sidebar untuk Mobile
.sidebar-toggle-btn {
  display: none;
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  z-index: 1000;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}
