.payment-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Menengahkan secara horizontal */
    justify-content: center; /* Menengahkan secara vertikal */
    text-align: center;
   
    
    margin: auto; /* Supaya center di dalam parent container */
  }
  
  .payment-status {
    display: flex;
    align-items: center; /* Sejajar vertikal */
    justify-content: center; /* Sejajar horizontal */
    gap: 10px; /* Jarak antara ikon dan teks */
    margin-top: 10px;
  }
  